<div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
        <li>
            <a href="#/brands"> <i class="ti-home"></i><span >品牌</span> </a>
        </li>
        <li>
            <a href="#/categories"> <i class="ti-home"></i><span >分類</span> </a>
        </li>
        <li>
            <a href="#/products"> <i class="ti-home"></i><span >商品</span> </a>
        </li>
        <li>
            <a href="#/interior-design"> <i class="ti-home"></i><span >風格</span> </a>
        </li>
        <li>
            <a href="#/space"> <i class="ti-home"></i><span >空間</span> </a>
        </li>
        <li>
            <a href="#/interior-type"> <i class="ti-home"></i><span >類型</span> </a>
        </li>
    </ul>
</div>
